{% extends 'partials/base.html'%}
{% block title %}Password Reset Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <div class="row mt-5 pt-3">
    <!--        offset- moving sign up to the right-->
            <div class="col-md-8 offset-md-2">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h4>Password Reset</h4>
                        <hr>
                        <div class="alert alert-info">
                            Enter your email to reset password
                        </div>
    <!--                    password reset form-->
                      <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input class="btn btn-primary btn-block" type="submit" value="Reset password">
                      </form>
    <!--                Forgot password and creating account
                        hr: horizontal line, my: margin bottom -->
                        <hr>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

