{% extends "base.html" %}

{% block body-content %}

<style>
.container {
  display: inline-block;
  cursor: pointer;
  align: right;
  margin-top: 10px;
  position: relative;

}
.nav navbar-nav navbar-right{
   align: right;
   margin-left: 30%
}

</style>


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url '' %}"><span class="glyphicon glyphicon-home"></span></a>
                <a class="navbar-brand" href="{% url 'user' %}">User</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign up</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'users-login' %}"><span class="glyphicon glyphicon-log-in "></span> Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<script>
function myFunction(x) {
  x.classList.toggle("change");
}
</script>

{% endblock %}
