{% extends "base.html" %}

{% block content %}
    <div class="jumbotron text-center">
  <h1>TravelBuddy</h1>
  <p>Travel! Before you run out of time...</p>
</div>

<div class="container">
  <div class="row">
    <div class="jumbotron text-center">
      <h3>About Us</h3>
      <p>To introduce an online travel planning application that reduces time consumption in trip planning and stress on it. It benefits both individuals and businesses raising global cultural awareness.</p>
      <img class="center" src="https://cdn.pixabay.com/photo/2018/12/05/13/41/panda-3857754_1280.jpg" alt="Chania" width="460" height="345">
    </div>
  </div>
</div>

{% endblock %}