    {% extends "base.html" %}

    {% block content %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
     {% load static %}
  <script src="{% static 'map_func.js' %}"></script>

    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
       #googledivMap {
          height: 70%;
          width: 90%;
          margin-left:4%;
           height: 350px;

       }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        body {
          background-color:#24292e;
        }
        .column {
          float: left;
          width: 33.33%;
          padding: 0px;
        }
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

   </style>

    <script>
    //Map variables
      var googleMapDiv;


      // Runs when the page is loaded and
      // loads the Google Maps Control onto the page
      function initMap() {

          // Google Maps element in whichlayers will be drawn with Google Maps Javascript API
          googleMapDiv = new google.maps.Map(document.getElementById('googledivMap'),
          {
            //Deck.gl map Configs and style
            center: { lat: 38.7505686, lng: -9.3963843 },
            minZoom: 3,
            zoom: 13,
            clickableIcons: false,
            disableDefaultUI: true,
            zoomControl: true,
            styles: [
                {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                {
                  featureType: 'administrative.locality',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#d59563'}]
                },
                {
                  featureType: 'poi',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#d59563'}]
                },
                {
                  featureType: 'poi.park',
                  elementType: 'geometry',
                  stylers: [{color: '#263c3f'}]
                },
                {
                  featureType: 'poi.park',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#6b9a76'}]
                },
                {
                  featureType: 'road',
                  elementType: 'geometry',
                  stylers: [{color: '#38414e'}]
                },
                {
                  featureType: 'road',
                  elementType: 'geometry.stroke',
                  stylers: [{color: '#212a37'}]
                },
                {
                  featureType: 'road',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#9ca5b3'}]
                },
                {
                  featureType: 'road.highway',
                  elementType: 'geometry',
                  stylers: [{color: '#746855'}]
                },
                {
                  featureType: 'road.highway',
                  elementType: 'geometry.stroke',
                  stylers: [{color: '#1f2835'}]
                },
                {
                  featureType: 'road.highway',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#f3d19c'}]
                },
                {
                  featureType: 'transit',
                  elementType: 'geometry',
                  stylers: [{color: '#2f3948'}]
                },
                {
                  featureType: 'transit.station',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#d59563'}]
                },
                {
                  featureType: 'water',
                  elementType: 'geometry',
                  stylers: [{color: '#17263c'}]
                },
                {
                  featureType: 'water',
                  elementType: 'labels.text.fill',
                  stylers: [{color: '#515c6d'}]
                },
                {
                  featureType: 'water',
                  elementType: 'labels.text.stroke',
                  stylers: [{color: '#17263c'}]
                }
              ]
          });


          // initOverlay(); // Calls the function that initializes the Google Maps Overlay layer in which Deck.gl layers will be drawn

      }



    </script>
</head>


<body>


  <div class="row">
    <div class="column" >
      <!--Adds the Google Maps ma-->
      <h1>Google Maps</h1>
      <div id="googledivMap"></div>
      <input type="text" placeholder="Origin" id="origin" name="autocomplete"/>
        <button type="button" onclick="get_loc()"></button>
    </div>
    <div class="column">
        <div class="media-content">
            <div class="content">
                <p>
                    <span class="title" id="weather_title"> </span>
                    <br>
                    <span class="subtitle" id="weather_sub_title">° F</span>
                    <br> {{ weather.description }}
                </p>
            </div>
        </div>
    </div>
  </div>

   <!---------------------------------------------------------------All sources------------------------------------------------------------------------------------->


    <!--The script to the Google Maps Map API-->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-AwK--sipbS9CBgDr9ipgUqvuYyk0tas&callback=initMap"
    async defer></script>
<!--    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-AwK&#45;&#45;sipbS9CBgDr9ipgUqvuYyk0tas&callback=initAutocomplete&libraries=places&v=weekly"-->
<!--    async defer></script>-->


   <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->


</body>
    {% endblock %}
    {% include "footer.html" %}



<!-- function get_api() {-->
<!--        mounted() {-->
<!--            new google.maps.places.Autocomplete()-->
<!--            document.getElementById("autocomplete")-->
<!--        }-->

<!--       }-->