{% extends 'partials/base.html'%}
{% block title %}Travel Log{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
 <script type="text/javascript">
        window.onload = function() {
            console.log("aAdssada")
        };
 </script>
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8">
            <div class="card my-3 shadow">
                <div class="card-body" style="text-align: center">
                    <a class="btn" href="{% url 'user_map' %}">
                        <span class="material-symbols-outlined">add_circle</span>
                    </a>
                </div>
            </div>
            {% for map in maps %}
            <div class="card-group">
                <div class="card shadow my-2">
                    <div class="card-body">
                        <h5><a href="{% url 'planner-log-history' map.id %}">Trip: {{map.title}}</a></h5>
                        <hr>
                        <p>origin: {{map.orig_loc}}</p>
                        <p>destination: {{map.dest_loc}}</p>
                    </div>
                </div>
                <div class="card shadow my-2" style="max-width: 10rem;">
                    <div class="card-body my-5 mx-4" style="test-align: right">
                        <button>
                            <a href="{% url 'planner-log-history' map.id %}">
                            <span class="material-symbols-outlined">edit</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}

