{% extends 'partials/base.html'%}
{% block title %}Travel Log{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
 <script type="text/javascript">
        window.onload = function() {
            let dist_tot = 0;
            let cnt = 0;
            const dist_quer = document.querySelectorAll(".dist");
            console.log("value", dist_quer);
            dist_quer.forEach(d => {
                console.log("v ", d.innerHTML);
                dist_tot = dist_tot+parseInt(d.innerHTML);
                d.innerHTML = parseInt(d.innerHTML)/1000;
                d.parentElement.style.display = 'block';
            });
            console.log("dist ", dist_tot)
            dist_tot = dist_tot/1000;
            document.getElementById("id_tot_dist").textContent =  dist_tot;
        };
 </script>
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8">
            <div class="card my-3 shadow">
                <div class="card-body" style="text-align: center">
                    <div class="card my-3 shadow">
                        <div class="card-body" style="text-align: center">
                            <span class="title" id="dist_tit">Total Distance of all your trips:</span>
                            <br>
                            <span id="id_tot_dist"></span>km
                        </div>
                    </div>
                    <a class="btn" href="{% url 'user_map' %}">
                        <span class="material-symbols-outlined">add_circle</span>
                    </a>
                </div>
            </div>
            {% for map in maps %}
<!--            show only the logs of the logged in user/author -->
            {% if map.author == request.user %}
            <div class="card-group">
                <div class="card shadow my-2">
                    <div class="card-body">
                        <div class="row" style="margin: 0;">
<!--                            title-->
                            <h5><a href="{% url 'planner-log-history' map.id %}">Trip: {{map.title}}</a></h5>
                            <div class="col md-10" style="text-align: right;">
<!--                                edit button-->
                                <button>
                                    <a href="{% url 'planner-log-history' map.id %}">
                                    <span class="material-symbols-outlined">edit</span>
                                    </a>
                                </button>
<!--                                delete button-->
                                <button>
                                    <a href="{% url 'delete-log' map.id %}">
                                    <span class="material-symbols-outlined">delete</span>
                                    </a>
                                </button>
                            </div>
                        </div>
                        <hr>
                        <p>origin: {{map.orig_loc}}</p>
                        <p>destination: {{map.dest_loc}}</p>
                        <div style="display:none">
                            distance: <span class="dist">{{map.distance}}</span> km
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}

